*{
    margin: 0;
    padding: 0;
}

.main{
    margin: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 300px;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

button:hover{
    cursor: pointer;
}

input{
    border: 1px solid black;
    width: 175px;
    height: 20px;
    border-radius: 5px;
}

select{
    border: 1px solid black;
    width: 175px;
    height: 20px;
    border-radius: 5px;
}

.output{
    border: 1px solid black;
    width: 175px;
    height: 20px;
    border-radius: 5px;
}

